* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #eceadd;
    color: #4e272a;
}

.game-container {
    padding: 5px;
    display: block;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 20%;
    display: block;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

h1, h2, h3{
    padding: 2px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

h1 {
    margin-top: 10px;
    font-size: 1.4em;
}

.section {
    width: 100%;
    text-align: center;
}

.pile {
    width: 20%;
    display: inline-block;
    position: relative;
}
.hand {
    width: 90%;
    display: inline-block;
    position: relative;
}

.card {
    display: inline-block;
    position: relative;
    background-color: white;
    width: 80px;
    height: 130px;
    margin: 4px 16px;
    border-radius: 8px;
    border: solid 4px #4e272a;
}

.card p {
    padding-top: 40px;
    text-align: center;
    font-size: 1.6em;
    width: 100%;
    height: 100%;
}

.face-down,
.face-up {
    width: 100%;
    height: 100%;
}

.face-down {
    background-color: #93AC97;
}

.face-down p {
    opacity: 0;
    background-color: white;
}

.click {
    cursor: pointer;
    position: absolute;
    text-align: center;
    padding-left: 2px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.peek {
    cursor: pointer;
    position: absolute;
    text-align: center;
    padding-left: 2px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.peek.visible {
    display: block;
}

.player-actions .hide-at-start {
    display: none;
}

form {
    padding: 14px;
}
label{
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
}
select, button {
    margin-top: 5px;
    padding: 16px 20px;
    border-radius: 4px;
    background-color: white;
    border: solid 3px #4e272a;
    cursor: pointer
}

button:hover, button:focus {
    background-color: #93AC97;
}

button:active {
    background-color: #4e272a;
}

.turn {
    width: 180px;
    display: inline-block;
    position: relative;
}

.nav-button {
    width: 20%;
    display: inline-block;
}

ol {
    text-align: left;
    margin-left: 50px;
}

.rules {
    text-align: left;
    padding: 13px 0 4px;
}