{% extends 'base.html' %}

{% block head %}
    <title>Sen Game</title>
{% endblock %}

{% block body %}
    <div class="game-container">
        <div class="container">
            <div class="section">
                <h1>Sen Game</h1>
                <h2 class="turn">Turn: {{ turn_counter + 1 }}</h2>
                <h2 class="turn">Player: {{ current_player + 1 }}</h2>
            </div>

            <div class="section" style="margin-top: 20px">
                <div class="pile">
                    <h3>Face-Down Pile</h3>
                    <div class="card">
                    <div class="click" onclick="revealFaceDown()">
                    Click<br>to<br>Reveal
                    </div>
                        <div class="face-down">
                            <p>
                            {{ face_down_top.number }}{% if face_down_top.action %}{{ face_down_top.action }}{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pile">
                    <h3>Face-Up Pile</h3>
                    <div class="card">
                        <div class="face-up">
                            {% if updated_card %}
                                <p>{{ updated_card.number }}{% if updated_card.action %}{{ updated_card.action }}{% endif %}</p>
                            {% else %}
                                <p>{{ face_up_top.number }}{% if face_up_top.action %}{{ face_up_top.action }}{% endif %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                {% for player_hand in players %}
                    {% set outer_loop_index = loop.index %}
                    <div>
                        <h3>Player {{ outer_loop_index }}'s Hand:</h3>
                        {% for card in player_hand %}
                            <div class="card">
                                <div class="peek" onclick="peekCard()">
                                Click<br>to<br>Peek
                                </div>
                                <div class="face-down">
                                    <p style="opacity: {% if turn_counter == current_player and loop.index < 3 and current_player + 1 == outer_loop_index %}1{% else %}0{% endif %}">
                                        {{ card.number }}{% if card.action %}{{ card.action }}{% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="section">
                <div class="player-actions">
                    <form method="post" action="{{ url_for('game') }}">
                        <input type="hidden" name="player_index" value="0">
                        <label for="exchange_index">Choose a card to replace:</label>
                        <select id="exchange_index" name="exchange_index" required>
                        {% for i in range(4) %}
                            <option value="{{ i }}">{{ i + 1 }}</option>
                        {% endfor %}
                        </select><br>
                        <button type="submit" name="action" value="take_face_up">Take the Card from the Face-Up Pile</button>
                        <button id="takeFaceDownBtn" type="submit" name="action" value="take_face_down" class="hide-at-start">Take the Card from the Face-Down Pile</button>
                        <button id="leaveFaceDownBtn" type="submit" name="action" value="leave_face_down" class="hide-at-start">Place the Card on the Face-Up Pile</button>
                        <button type="submit" form="endScreenForm" formaction="{{ url_for('end_screen') }}" id="wakeUpBtn">WAKE UP!</button>
                    </form>

                    <form method="post" action="{{ url_for('end_screen') }}" id="endScreenForm" style="display: none;">
                        <input type="hidden" name="dummy_input" value="dummy_value">
                    </form>
                 </div>

                {% if action_result %}
                    <div class="action-result">
                        <p>{{ action_result.number }}{% if action_result.action %}{{ action_result.action }}{% endif %}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
<script>
    // Constants for class names
    const VISIBLE_CLASS = 'visible';

    // Constants for DOM elements
    const faceDownParagraph = document.querySelector('.pile .face-down p');
    const clickDiv = document.querySelector('.pile .click');
    const takeFaceUpButton = document.querySelector('button[value="take_face_up"]');
    const takeFaceDownButton = document.getElementById('takeFaceDownBtn');
    const leaveFaceDownButton = document.getElementById('leaveFaceDownBtn');
    const wakeUpButton = document.getElementById('wakeUpBtn');
    // Event handler for peeking at a card
    function peekCard() {
        const selectedCard = event.target.closest('.card');
        const opacityValue = selectedCard.querySelector('.face-down p').style.opacity;

        // Toggle the opacity of the corresponding p element
        if (opacityValue === '0') {
            selectedCard.querySelector('.face-down p').style.opacity = '1';

            // Hide all peek divs
            const peekDivs = document.querySelectorAll('.card .peek');
            peekDivs.forEach(function(peekDiv) {
                peekDiv.style.display = 'none';
            });

            // Hide the "Take the Card from the Face-Down Pile" button
            document.getElementById('takeFaceDownBtn').style.display = 'inline-block';
        } else {
            selectedCard.querySelector('.face-down p').style.opacity = '0';
        }
        document.getElementById('takeFaceDownBtn').style.display = 'none';
    }
    // Event handler for revealing face-down card
    function revealFaceDown() {
        // Check if the revealed card on the face-up pile is 6P
        const faceUpCard = document.querySelector('.face-down p');
        const isSixP = faceUpCard && faceUpCard.textContent.trim() === '6P';

        // Toggle a class on peek divs if 6P and peek not already visible
        const peekDivs = document.querySelectorAll('.card .peek');
        peekDivs.forEach(function(peekDiv) {
            const opacityValue = peekDiv.nextElementSibling.querySelector('p').style.opacity;
            peekDiv.classList.toggle(VISIBLE_CLASS, isSixP && opacityValue === '0');
        });

        // Hide and show relevant buttons
        faceDownParagraph.style.opacity = '1';
        clickDiv.style.display = 'none';
        takeFaceUpButton.style.display = 'none';
        wakeUpButton.style.display = 'none';
        takeFaceDownButton.style.display = 'inline-block';
        leaveFaceDownButton.style.display = 'inline-block';
    }
</script>
{% endblock %}
